<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UsikkerNo</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HuskelappAdmServlet</display-name>
    <servlet-name>HuskelappAdmServlet</servlet-name>
    <servlet-class>no.mesan.ejafjallajokull.servlets.HuskelappAdmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuskelappAdmServlet</servlet-name>
    <url-pattern>/huskelapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>no.mesan.ejafjallajokull.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartServlet</display-name>
    <servlet-name>StartServlet</servlet-name>
    <servlet-class>no.mesan.ejafjallajokull.servlets.StartServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>NyBrukerServlet</display-name>
    <servlet-name>NyBrukerServlet</servlet-name>
    <servlet-class>no.mesan.ejafjallajokull.servlets.NyBrukerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>NyBrukerServlet</servlet-name>
    <url-pattern>/nybruker</url-pattern>
  </servlet-mapping>
</web-app>